<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		
		<!-- DESENV >>> LOCAL -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/ammf</property>
		
		<!-- DESENV >>> PRODUÇÃO -->
		<!-- <property name="hibernate.connection.username">quironps_user1</property>
		<property name="hibernate.connection.password">user1</property>
		<property name="hibernate.connection.url">jdbc:mysql://184.107.67.241:3306/quironps_ammf</property> -->
		
		<!-- DEPLOY PRODUÇÃO -->				
		<!-- <property name="hibernate.connection.username">quironps_user1</property>
		<property name="hibernate.connection.password">user1</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/quironps_ammf</property> -->
				
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		
		<!-- C3PO PROPERTIES -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<!-- <property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property> -->
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.timeout">5000</property>	
		
		<!-- entities -->				
		<mapping class="br.com.ammf.model.LogAplicacao" />
		<mapping class="br.com.ammf.model.Usuario" />
		<mapping class="br.com.ammf.model.Texto" />
		<mapping class="br.com.ammf.model.Pessoa" />
		<mapping class="br.com.ammf.model.Resenha" />
		<mapping class="br.com.ammf.model.Depoimento" />
		<mapping class="br.com.ammf.model.Livro" />
		<mapping class="br.com.ammf.model.Categoria" />
		<mapping class="br.com.ammf.model.Imagem" />
		<mapping class="br.com.ammf.model.Link" />
		<mapping class="br.com.ammf.model.Faq" />
		<mapping class="br.com.ammf.model.Terapeuta" />
		<mapping class="br.com.ammf.model.Comentario" />
		<mapping class="br.com.ammf.model.Constelacao" />
		<mapping class="br.com.ammf.model.Evento" />
		<mapping class="br.com.ammf.model.Participante" />		
		
	</session-factory>
</hibernate-configuration>
